@import "../../sass/main.scss";
@import "../../sass/utilities/variables.scss";
@import "../../sass/utilities/functions.scss";

.tag-bubble-container {
    display: flex;
    justify-content: flex-start;
    .tag-bubble {
        margin-right: 2rem;
        padding: 0.2rem 0.6rem;
        background: #FF6060;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
    }
}