@import "../../sass/main.scss";
@import "../../sass/utilities/variables.scss";
@import "../../sass/utilities/functions.scss";

.main-container {
    margin-bottom: 9rem;
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/Hero.png");
            display: block;
            max-width: 90%;
            border-radius: 10px;
                width: 100%;
                height: 12rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                @media (min-width: breakpoint("medium")) {
                  height: 10rem;
                }
        }
    }
    .dropdown-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
        margin-bottom: 30%;
        margin-top: 15px;
        .toggle-container {
            margin: 0;
            width: 90%;
        }
    }
}