@import "../Styles/variables.scss";

@each $texto in $textos {
    #{$texto} {
        font-family: "Raleway", sans-serif;
        font-family: "Roboto", sans-serif;
    }
}

@function breakpoint($size) {
    $breakpoints: (
      "small": 480px,
      "medium": 768px,
      "large": 1024px
    );
  
    @return map-get($breakpoints, $size);
  }