@import '../../Styles/variables.scss';
.page-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $color-primary; 
    .info-container-page {
        margin: 4rem auto;
        h1{
            font-family: Montserrat;
            font-size: 96px;
            font-weight: 700;
            line-height: 137px;
            letter-spacing: 0em;
            text-align: center;            

        }
        p {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;

        }
    }
    a {
        color: $color-primary;
    }
}