@import "../../sass/main.scss";
@import "../../sass/utilities/variables.scss";
@import "../../sass/utilities/functions.scss";

.navbar {
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: breakpoint("medium")) {
        margin: 2rem;
    }
    @media (min-width: breakpoint("large")) {
        margin: 0;
        padding: 2rem;
        padding-bottom: 0;
    }
    .container__logo {
        padding: 1rem; 
        .logo {
            width: 100%;
        }
    }
    .container__links {
        a {
            margin: 0 0.8rem 0 0;
            color: $color-primary;
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 0.7rem;
            text-transform: uppercase;
            @media (min-width: breakpoint("large")) {
                margin: 0 1.2rem;
                font-size: 1.2rem;
                text-transform: lowercase;
                text-transform: capitalize;
                font-weight: 300;
                line-height: 34px;
            }  
        }
        .active {
            text-decoration: underline;
          }    
    }    
}
